.d1{
    background-color: tan;
    color: white;
    padding: 10px;
    text-align: center;
}
.main{
    
 padding-bottom: 95px
}
.topp{
    position: relative;
    text-align: center;
    color: rgb(44, 212, 86);
}
    
