.d1{
    background-color: tan;
    color: white;
    padding: 10px;
    text-align: center;
}
.main{
    
 padding-bottom: 95px
}
.topp{
    position: absolute;
    text-align:center;
    color: white;
    left: 80%;
    top: 55%;
}

.bm2t1{
    position: absolute;
    text-align: center;
    color: white;
    right: 75%;
    top: 240%;
    font-size: 45px;
    
}
.bn2t1{
    position:absolute;
    text-align: center;
    color: white;
    right: 75%;
    top: 250%;
    font-size: 20px;
}