.d1{
    background-color: tan;
    color: white;
    padding: 10px;
    text-align: center;
}
.main{
    
 padding-bottom: 95px
}
.topp{
    position: absolute;
    text-align:center;
    color: white;
    left: 80%;
    top: 55%;
}
.PU{
    position: relative;
    text-align: center;
    color: white;
    top: 60%;
}
    
